<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style2.css" />
    <title>Error Page</title>
</head>
<body>
    <div class=error>
        <h1>Burganic</h1>
        <h2 id="err-code">404. <span>That's an error.</span></h2>
        <p>The requested URL was not found on this server. That's all we know.</p>
        <p><a href="/">Click here</a>, to go to home page.</p>
    </div>
</body>
</html>